body{
	font-family: 'Raleway', sans-serif;
    
}

main {
    background-color: #e6e6e6;
}

 .navbar.transparent {
    height: 50vw;
    border-width: 0px;
    box-shadow: 0px 0px;
    background:transparent;
    background-image: linear-gradient(rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url(../pics/news.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
}
.tag {
    position: absolute;
    top: 50%;
    left:25%;
    transform: translate(50% 50%);
}

.tag p{
    color: green;
    font-size: 5vw;
    font-weight: bolder;
}

.tag span{
    color: white;
}

ul > li > button >p {
    text-decoration: none;
    margin-left: 5vw;
    margin-right: 5vw;
    color: white;
    font-weight:1000;
    font-size: 2vw;

}

ul > li > button >p>a{
    color:white;
}

.title {
	font-size: 50px;
	font-weight: bolder;
}

.rec-col {
	margin-top: 10vh;
	font-size: 20px;
}

.par {
	font-size: 20px;
	/*color: white;*/
}


.btn-post{
	margin: 10px 0;
}

.links {
    background-color: white;
}

.links p {
	font-size: 5vw;
	font-weight: bolder;
}

