*{
	margin:0;
	padding: 0;
}


body{
	font-family: 'Exo 2', sans-serif;
}

/*--- banner ---*/

.banner {
	height: 100vh;
	background-image: linear-gradient(rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.3) 100%), url(../pics/bg.jpeg);
	background-size: cover;
	background-repeat:no-repeat;
	background-attachment: fixed;
}

.banner > .row,
.banner > .row > .b1,
.banner > .row > .b2,
.banner > .row > .b3,
.banner > .row > .col-xs-12{
	height: 100%;
	padding: 0;
}


@media (max-width: 767px){
	.banner > .row-1 {
		display: none;
	}

}

.banner > .row > .b1 > .contact,
.banner > .row > .b1 > .resume,
.banner > .row > .b3 > .portfolio,
.banner > .row > .b3 > .skills{
	height: 50%;
	border: 5px solid white;
}

.banner > .row > .b2 > .education,
.banner > .row > .b2 > .work{
	height: 30%;
	border: 5px solid white;

}

.banner > .row > .b2 > .braile {
	height: 40%;
	border: 5px solid white;
}

.banner > .row button {
	width: 100%;
}


.banner > .row-1 button >a {
	font-size: 2vw;
	text-decoration: none;
	color: white;
	transition-duration: 0.4s;

}

.banner > .row > .b2 > .braile > button >a{
	font-size: 3vw;
	text-decoration: none;
	color: white;
}
.banner > .row > .b2 > .braile >p{
	color: white;
}

.banner > .row-1  button >a:hover {
	text-decoration: none;
	font-size: 3vw;
}





@media (min-width: 769px){
	.banner > .row-2 {
		display: none;
	}
}


.banner > .row > .col-xs-12 > .contact,
.banner > .row > .col-xs-12 > .resume,
.banner > .row > .col-xs-12 > .portfolio,
.banner > .row > .col-xs-12 > .skills,
.banner > .row > .col-xs-12 > .education,
.banner > .row > .col-xs-12 > .work{
	height: 13%;
	border: 1px solid white;
}

.banner > .row-2 > .col-xs-12 > .braile {
	height: 22%;
	border: 1px solid white;
}

.banner > .row-2 button >a {
	font-size: 20px;
	text-decoration: none;
	color: white;
	transition-duration: 0.4s;

}

/*--- /banner ---*/


/*--- education ---*/

.education-section {
	background-image: linear-gradient(rgba(0,0,0,0) 0%,rgba(0,0,0,0) 100%), url(../pics/education-bg.jpeg);
	background-size: cover;
	background-repeat:no-repeat;
	background-attachment: scroll;
	overflow-x: hidden;
}



.work-section {
	height: 100vh;
	background-image: linear-gradient(rgba(0,0,0,0) 0%,rgba(0,0,0,0) 100%), url(../pics/work-bg.jpeg);
	background-size: cover;
	background-repeat:no-repeat;
	background-attachment: scroll;
	overflow-x: hidden;
}



.skills-section {
	height: 50vh;
	background-image: linear-gradient(rgba(0,0,0,0) 0%,rgba(0,0,0,0) 100%), url(../pics/skills-bg.jpeg);
	background-size: cover;
	background-repeat:no-repeat;
	background-attachment: scroll;
	overflow-x: hidden;
}

.portfolio-section {
	height: 50vh;
	background-image: linear-gradient(rgba(0,0,0,0) 0%,rgba(0,0,0,0) 100%), url(../pics/portfolio-bg.jpeg);
	background-size: cover;
	background-repeat:no-repeat;
	background-attachment: scroll;
	overflow-x: hidden;
}


