body{
	font-family: 'Raleway', sans-serif;
}



.upper-section {
	background: linear-gradient(rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 100%), url(../pics/sunrise.png);
	background-size: cover;
	background-repeat:no-repeat;
	background-attachment: fixed;
	height: 50vw;
}

.banner-title p {
	color: white;
	font-size: 2.5vw;
}

.banner-title span {
	font-size: 4vw;
}

.banner-underline {
	width: 50%;
}


.upper-section button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 1vw 3vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5vw;
    transition-duration: 0.4s;
    cursor: pointer;
    width: 15vw;
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
    border-radius: 5vw;
  	margin-top: 1vw;
}

.upper-section .button1:hover {
    background-color: #4CAF50;
    color: white;
}


.slogan-in {
	margin-top:10vw;
	margin-left: 1vw;
}
.slogan-in > p {
	color: white;
	font-size: 3vw;
	font-style: italic;
	margin-left: 0;

}

.slogan-in i {
	font-size: 1vw;
	color: white;

}


.middle-section{
	margin-top: 2vw;

}

.middle-section .mgr-words p {
	font-size: 2.5vw;
}

.middle-section .who-mgr p {
	font-size: 1vw;
}

.mgr img {
	margin-top: 1vw
}

.middle-section {
	height: 25vw;
}

.lower-section {
	height: 30vw;
	background: linear-gradient(rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url(../pics/eastwood.png);
	background-size: cover;
	background-repeat:no-repeat;
	background-attachment: scroll;
}


.lower-section button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 1vw 3vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.25vw;
    transition-duration: 0.4s;
    cursor: pointer;
    width: 20vw;
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
    border-radius: 5vw;
  	margin: 5vw 37vw;


}

.lower-section .button1:hover {
    background-color: #4CAF50;
    color: white;

}

.lower-text p{
	font-size: 4vw;
	color: white;
	margin-top: 3vw;
}

.map-mark {
	color: white;
	margin-left: 48%;
	margin-top: 4vw;
}

.modal-content > .modal-body h3 {
	font-size: 15px;
}