.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.979980;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.979980;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.979980;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.979980;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.979980;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls1{letter-spacing:-0.048000px;}
.ls0{letter-spacing:0.000000px;}
.ls2{letter-spacing:0.240000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._5{margin-left:-1.104000px;}
._0{width:1.230080px;}
._1{width:76.896000px;}
._3{width:300.704000px;}
._4{width:316.688000px;}
._2{width:370.784000px;}
.fc2{color:rgb(128,128,128);}
.fc1{color:rgb(5,99,193);}
.fc0{color:rgb(0,0,0);}
.fs0{font-size:48.000000px;}
.fs2{font-size:56.160000px;}
.fs1{font-size:63.840000px;}
.y1{bottom:0.000000px;}
.y0{bottom:67.500000px;}
.y2d{bottom:77.904000px;}
.y2c{bottom:97.824000px;}
.y2b{bottom:112.220000px;}
.y2a{bottom:129.140000px;}
.y29{bottom:147.620000px;}
.y28{bottom:166.220000px;}
.y27{bottom:195.620000px;}
.y26{bottom:209.570000px;}
.y25{bottom:229.490000px;}
.y24{bottom:243.410000px;}
.y23{bottom:257.330000px;}
.y22{bottom:271.250000px;}
.y21{bottom:285.170000px;}
.y20{bottom:299.090000px;}
.y1f{bottom:318.890000px;}
.y1e{bottom:332.810000px;}
.y1d{bottom:346.730000px;}
.y1c{bottom:360.650000px;}
.y1b{bottom:374.590000px;}
.y1a{bottom:388.510000px;}
.y19{bottom:402.430000px;}
.y18{bottom:416.350000px;}
.y17{bottom:430.270000px;}
.y16{bottom:444.190000px;}
.y15{bottom:458.110000px;}
.y14{bottom:472.030000px;}
.y13{bottom:485.950000px;}
.y7{bottom:499.870000px;}
.y12{bottom:501.070000px;}
.y11{bottom:519.550000px;}
.y6{bottom:531.790000px;}
.y10{bottom:538.150000px;}
.y5{bottom:545.740000px;}
.y4{bottom:559.660000px;}
.yf{bottom:561.580000px;}
.y3{bottom:574.780000px;}
.ye{bottom:575.500000px;}
.y2{bottom:587.980000px;}
.yd{bottom:601.420000px;}
.yc{bottom:621.340000px;}
.yb{bottom:641.260000px;}
.ya{bottom:656.260000px;}
.y9{bottom:691.660000px;}
.y8{bottom:706.780000px;}
.h2{height:36.000000px;}
.h4{height:42.120000px;}
.h3{height:47.880000px;}
.h1{height:652.500000px;}
.h0{height:792.000000px;}
.w1{width:377.500000px;}
.w2{width:611.999991px;}
.w0{width:612.000000px;}
.x1{left:0.000009px;}
.x0{left:90.000000px;}
.x7{left:91.103991px;}
.x4{left:94.223991px;}
.x3{left:96.623991px;}
.x5{left:111.259991px;}
.x6{left:138.619991px;}
.x2{left:213.049991px;}
.x8{left:248.449991px;}
.x9{left:284.449991px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls1{letter-spacing:-0.064000pt;}
.ls0{letter-spacing:0.000000pt;}
.ls2{letter-spacing:0.320000pt;}
.ws0{word-spacing:0.000000pt;}
._5{margin-left:-1.472000pt;}
._0{width:1.640107pt;}
._1{width:102.528000pt;}
._3{width:400.938667pt;}
._4{width:422.250667pt;}
._2{width:494.378667pt;}
.fs0{font-size:64.000000pt;}
.fs2{font-size:74.880000pt;}
.fs1{font-size:85.120000pt;}
.y1{bottom:0.000000pt;}
.y0{bottom:90.000000pt;}
.y2d{bottom:103.872000pt;}
.y2c{bottom:130.432000pt;}
.y2b{bottom:149.626667pt;}
.y2a{bottom:172.186667pt;}
.y29{bottom:196.826667pt;}
.y28{bottom:221.626667pt;}
.y27{bottom:260.826667pt;}
.y26{bottom:279.426667pt;}
.y25{bottom:305.986667pt;}
.y24{bottom:324.546667pt;}
.y23{bottom:343.106667pt;}
.y22{bottom:361.666667pt;}
.y21{bottom:380.226667pt;}
.y20{bottom:398.786667pt;}
.y1f{bottom:425.186667pt;}
.y1e{bottom:443.746667pt;}
.y1d{bottom:462.306667pt;}
.y1c{bottom:480.866667pt;}
.y1b{bottom:499.453333pt;}
.y1a{bottom:518.013333pt;}
.y19{bottom:536.573333pt;}
.y18{bottom:555.133333pt;}
.y17{bottom:573.693333pt;}
.y16{bottom:592.253333pt;}
.y15{bottom:610.813333pt;}
.y14{bottom:629.373333pt;}
.y13{bottom:647.933333pt;}
.y7{bottom:666.493333pt;}
.y12{bottom:668.093333pt;}
.y11{bottom:692.733333pt;}
.y6{bottom:709.053333pt;}
.y10{bottom:717.533333pt;}
.y5{bottom:727.653333pt;}
.y4{bottom:746.213333pt;}
.yf{bottom:748.773333pt;}
.y3{bottom:766.373333pt;}
.ye{bottom:767.333333pt;}
.y2{bottom:783.973333pt;}
.yd{bottom:801.893333pt;}
.yc{bottom:828.453333pt;}
.yb{bottom:855.013333pt;}
.ya{bottom:875.013333pt;}
.y9{bottom:922.213333pt;}
.y8{bottom:942.373333pt;}
.h2{height:48.000000pt;}
.h4{height:56.160000pt;}
.h3{height:63.840000pt;}
.h1{height:870.000000pt;}
.h0{height:1056.000000pt;}
.w1{width:503.333333pt;}
.w2{width:815.999988pt;}
.w0{width:816.000000pt;}
.x1{left:0.000012pt;}
.x0{left:120.000000pt;}
.x7{left:121.471988pt;}
.x4{left:125.631988pt;}
.x3{left:128.831988pt;}
.x5{left:148.346655pt;}
.x6{left:184.826655pt;}
.x2{left:284.066655pt;}
.x8{left:331.266655pt;}
.x9{left:379.266655pt;}
}
